.header{
    text-align: center;
    background-color: gray;
}
body{
    background-color: gray;
}
h2{
    text-align: center;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.card-img-top{
    height: 40%;
}
.card{
    width: 15rem;
}
.Marvel{
    background-color: aqua;
}
.DC{
    background-color: gray;
}
